.container_add_production {
  background-color: #fff;
}

.image-product {
  width: 120px;
  height: 90px;
}

.chooseFile_container {
  cursor: pointer;
  width: 250px;
  height: 200px;
  border: 2px dashed #cdcdcd;
  position: relative;
}

.chooseFile_container img {
  width: 100%;
  height: 100%;
}

.image_label_add_product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #696969;
  font-weight: 700;
  z-index: 10;
}

.image_label_add_product.active {
  color: #fff;
  text-shadow: 0 0 3px #cdcdcd;
}
